form {
  width: 70%;
  margin: 0 auto;
  margin-top: 75px;
}

.limiter-menu-desktop {
  position: fixed;
  height: auto;
  top: 0px;
  left: 10%;
}
.h2 {
  margin: 20px 0 !important;
}
label {
  font-size: 22px;
}
.add {
  margin: 15px 0 !important;
}
.add:hover {
  color: white !important;
  background-color: rgb(34, 34, 34) !important;
}
.image {
  width: 100px !important;
}
table tr td,
th {
  vertical-align: middle !important;
  text-align: center !important;
}

.see {
  width: 100%;
}
.co {
  width: 40%;
  margin: auto;
}
